# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/

# Temporary
*.tmp
*.temp
*.bak
*.log

# Terraform
.terraform/
*.tfstate
.tfstate.

# Cache
.cache/

# Secrets
.env
.env.*
*.key
*.pem
*.secret