# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/

# Build
build/
dist/
out/
bin/
obj/

# Firmware output
*.hex
*.bin
*.elf
*.map

# Temporary
*.tmp
*.temp
*.bak
*.log

# Secrets
.env
*.key
*.pem